/* nav bar and top section */

.body{
    font-family: 'Poppins', sans-serif;
}
.bg-navbar{
    background-color:#F0FFF0!important ;
}
.top-part, .top-section, .aboutus{
    background-color: #F0FFF0;
}
.nav-name{
    font-weight: 600;
}
.icon-img{
    width: 220px;
    height: 50px;
    padding-left: 60px;
}
.schedule{
    color: #21B573;
}
.carousel-indicators li {
    background-color: #CECECE;
    width: 20px;
    height: 0.1px;
    margin: 0 5px;
    border-radius: 6px;
    background-clip: unset;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    }
    .carousel-indicators li.active {
    width: 50px;
    background-color: #21B573;
    }
.container{
    margin-top: 80px;
}
.top-description-2{
    font-size: 48px;
    font-weight: bold;
    line-height: 70px;
    color: #000000;
}
.top-description-1{
    font-size: 16px;
    line-height: 24px;
    color: #FD511A;
}
.top-description-3{
    font-size: 16px;
    line-height: 24px;
    color: #6C6B6B;
}
.sign-in{
    background-color:#21B573 ;
    border-radius: 33px;
    width: 104px;
    height: 43px;
    text-align: center;
    color: white!important;
    font-weight: 600;
}
.get-started{
width: 153px;
height: 23px;
padding: 12px 36px;
background: #21B573;
border-radius: 33px;
color: white;
text-align: center;
font-weight: 600;
}
.top-section{
    padding: 100px;

}

/* middle top */


.box1{
    width: 250px;
    height: 270px;
    padding: 60px;
    background: #F8FFFB;
    border-radius: 10px;
}
.box2{  
    width: 250px;
    height: 270px;
    padding: 60px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px lightgrey;
    border-radius: 10px;
}
.box-img{
    width: 68px;
    height: 76px;
    margin-bottom: 10px;
}
.box-details-1{
    font-weight: 500;
    font-size: 20px;
    color: #413960;
}
.box-details-2{
    font-size: 16px;
    color: #585859;
}

/* Middle Bottom */

.middle-bottom h1{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.middle-bottom p{
    font-weight: 500;
    font-size: 16px;
    color: #585859;
}
.pyschology{
    width: 300px;
    height: 234px;
    border-radius: 11px;
}
.icon-cal-peo{
    width: 24px;
    height: 24px;
}
.box3{
    width: 350px;
    height: 483px;
    left: 135px;
    top: 1102px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px grey;
    border-radius: 18px;
    padding-top: 25px;
    padding-left: 25px;
}
/*Testimonial part */
.heading{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
.man{
    width: 120px;
    height: 120px;
}
.testimonial-text{
    font-size: 16px;
    color: #000000;
}
.t-text{
    padding: 50px 220px 100px 220px;
}

/* last part */

.last-part{
    background: #282531;
    width: 1345px;
    height: 369px;
    padding: 50px;
}
.lastbox{
    color: ivory;
}
.bold{
    font-size: 18px;
    font-weight: 700;
}

/* about us */

.aboutus{
    padding: 20px 40px;
}
.info{
    text-align: center;
    color: #000000;
    font-weight: 700;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 72px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.65;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

/* footer */

footer{
    background-color:#282531 ;
    text-align: center;
    color: ivory;
}
